.default-spacing{
    margin-top: 4.5rem ;
    margin-bottom: 4.5rem ;
}
.date-spacing{
    margin-top: 2rem;
}
.button-spacing{
    margin-right: 10px;
}
.posts-spacing{
    margin: 0 auto;
}
.posts-spacing h4{
    margin-bottom: 1rem;
}
.carousel-img{
    height: 80vh !important;
}
.parent-footer{
    position: relative;
    margin-top: 4.5rem !important;
    margin-bottom: -26px !important;
}
.footer{
  
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}
.footer-form{
    width: 360px !important;
}
.footer-body{
background-color: #0d0d0e;
 padding-bottom: 80px;
 margin-bottom :0;
}
.footer-link{
    color: white;
}
.spinner{
   
  width: 4rem !important;
  height: 4rem !important;

}